/* This determines the font of every element using the global selector */
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

/* This makes the body, (or the page) lemon chiffon */
body {
  background-color: lemonchiffon;
}

header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: #191970;
}

figure {
  width: 200px;
  background-color: #f0ead6;
}

/* This finds each element with the class .highlighted-text and makes it bolder. */
.highlighted-text {
  font-weight: bolder;
}

/* This id tag will create a specific color for the section */
#contact-section {
  background-color: #f0ead6;
}
